nav {
  background: #666 !important;
  a {
    color: #fff !important;
    &:hover {
      color: #bbb !important;
    }
  }
  .uk-logo {
    &:hover svg{
      fill: #bbb !important;
    }
    svg {
      height: 32px;
      fill: #FFF;
      transition: .1s ease-in-out;
      transition-property: fill;
    }
  }
  .uk-navbar-dropdown-nav li a {
    color: #999 !important;
    &:hover {
    color: #666 !important;
    }
  }
}

.uk-section-primary {
  background: #666 !important;
}


.uk-navbar-item form {
  margin-bottom: 0;
  button {
    color: #FFF;
  }
}

footer {
  background: #666;
  color: #FFF;
  text-align: center;
}

.uk-section-default {
  min-height: calc(100vh - 80px - 24px)
}
