header
  nav(uk-navbar).uk-navbar-container.uk-container.uk-container-expand
    div.uk-navbar-left
      a(href="/").uk-navbar-item.uk-logo
        include /svgs/ssshare.svg
      ul.uk-navbar-nav
        li
          a(href="/") <span uk-icon="icon: home"></span>&nbsp;Home
        li
          a(href="/list") <span uk-icon="icon: list"></span>&nbsp;List
        if user!=null
          li
            a(uk-toggle="target: #upload") <span uk-icon="icon: upload"></span>&nbsp;Upload
    div.uk-navbar-right
      ul.uk-navbar-nav
        li
          div.uk-navbar-item
            form(action="javascript:void(0)")
              input(type="text", placeholder="Search...").uk-input.uk-form-width-small
              button.uk-button.uk-button-default Search
        if user==null
          li
            a(href="/account/login") <span uk-icon="icon: user"></span>&nbsp;Login
        else
          li
            a(href="#")
              img(src=`/account/icon/${user._id}`, style="width: 20px;")
              | &nbsp;#{user.username}
            div.uk-navbar-dropdown
              ul.uk-nav.uk-navbar-dropdown-nav
                li
                  a(href=`/user/${user.id}`) <span uk-icon="icon: user"></span>&nbsp;My Page
                li
                  a(href="/account/logout") <span uk-icon="icon: sign-out"></span>&nbsp;Logout

  div(uk-modal)#upload.uk-modal-container
    div.uk-modal-dialog
      button(type="button", uk-close).uk-modal-close-default
      div.uk-modal-header
        h2.uk-modal-title Upload (1/2)
      div(uk-overflow-auto).uk-modal-body
        div(uk-grid).uk-child-width-expand
          div(style="text-align: right;")
            textarea.uk-textarea#sus_area(name="sus",rows="14", style="width: calc(100% - 32px);margin: 0 16px;")
            div(style="padding: 0 18px").uk-flex
              p(style="padding: 8px 0;margin: 20px 0;") ※WAVEOFFSETは別で管理されるため0になります&nbsp;&nbsp;
              p(uk-form-custom).js-upload
                input#sus_file(type="file", accept=".sus")
                button(type="button", tabindex="-1").uk-button.uk-button-primary Upload
          div
            form().uk-form-horizontal
              div.uk-margin
                label.uk-form-label SONG ID
                div.uk-inline
                  span(uk-icon="icon: tag").uk-form-icon
                  input#sus_songid(readonly).uk-input
              div.uk-margin
                label.uk-form-label TITLE
                div.uk-inline
                  span(uk-icon="icon: bookmark").uk-form-icon
                  input#sus_songname(readonly).uk-input
              div.uk-margin
                label.uk-form-label ARTIST
                div.uk-inline
                  span(uk-icon="icon: users").uk-form-icon
                  input#sus_artist(readonly).uk-input
              div.uk-margin
                label.uk-form-label DESIGNER
                div.uk-inline
                  span(uk-icon="icon: user").uk-form-icon
                  input#sus_designer(readonly).uk-input
              div.uk-margin
                label.uk-form-label DIFFICULTY
                div.uk-inline
                  span(uk-icon="icon: thumbnails").uk-form-icon
                  input#sus_difficulty(readonly).uk-input
              div.uk-margin
                label.uk-form-label PLAY LEVEL
                div.uk-inline
                  span(uk-icon="icon: bolt").uk-form-icon
                  input#sus_playlevel(readonly).uk-input
      div.uk-modal-footer.uk-text-right
        button(type="button").uk-button.uk-button-default.uk-modal-close Cancel
        button(type="button",uk-toggle="target: #upload2",disabled)#submit_btn.uk-button.uk-button-primary Next

  div(uk-modal)#upload2
    div.uk-modal-dialog
      button(type="button", uk-close).uk-modal-close-default
      div.uk-modal-header
        h2.uk-modal-title Upload (2/2)
      div(uk-overflow-auto).uk-modal-body
        div
          form().uk-form-horizontal
            div.uk-margin
              label.uk-form-label Music Source
              div.uk-inline
                span(uk-icon="icon: microphone").uk-form-icon
                input#music_s(name="music-s", placeholder="ex: Google Play Store").uk-input
            div.uk-margin
              label.uk-form-label Music Offset
              div.uk-inline
                span(uk-icon="icon: settings").uk-form-icon
                input#music_o(name="music-o",type="number").uk-input
            | 自作音源の場合はSoundCloud等のリンクを貼ってください。
            div.uk-margin
              label.uk-form-label Movie Source
              div.uk-inline
                span(uk-icon="icon: video-camera").uk-form-icon
                input#movie_s(name="movie-s").uk-input
            div.uk-margin
              label.uk-form-label Movie Offset
              div.uk-inline
                span(uk-icon="icon: settings").uk-form-icon
                input#movie_o(name="movie-o",type="number").uk-input
            | 自作映像の場合はDropBox等のリンクを貼ってください。
            div.uk-margin
              label.uk-form-label YouTube
              div.uk-inline
                span(uk-icon="icon: youtube").uk-form-icon
                input#yt_link(name="yt").uk-input
            div.uk-margin
              label.uk-form-label Note
              div.uk-inline
                span(uk-icon="icon: file-text").uk-form-icon
                input#note(name="note",placeholder="例: TVサイズです").uk-input
            div.uk-margin
              label
                input(type="checkbox", style="margin-left: 16px;")#check1.uk-checkbox
                | &nbsp;この譜面はSeaurchinの公開<a href="https://seaurchin.kb10uy.org/wiki/score/publish" target="blank">ガイドライン</a>に沿っています。
            div.uk-margin
              label
                input(type="checkbox", style="margin-left: 16px;")#check2.uk-checkbox
                | &nbsp;この譜面は自分が作ったもので、他人の権利を侵していません。
      div.uk-modal-footer.uk-text-right
        button(type="button",uk-toggle="target: #upload").uk-button.uk-button-default.uk-modal-close Back
        button(type="button",disabled)#submit2_btn.uk-button.uk-button-primary Publish
