html
  head
    include _head
  body
    include _header
    div.uk-section
      div.uk-container.uk-container-large
        table.uk-table.uk-table-striped
          caption 一覧
            thead
              tr
                th 曲名
                th アーティスト
                th デザイナー
                th 難易度
                th レベル
            tfoot
              tr
                th 曲名
                th アーティスト
                th デザイナー
                th 難易度
                th レベル
            tbody
              tr
                td リトルリドル
                td LittlePOPS
                td kb10uy
                td MASTER
                td 12
    include _footer
