html
  head
    include /_head
  body
    include /_header
    div.uk-container.uk-container-large.uk-padding
      h1.uk-text-center 403 Forbidden
      p.uk-text-center このページを表示する権限がありません。
    include /_footer
