html
  head
    include /_head
  body
    include /_header
    div.uk-container.uk-container-large.uk-padding
      h1.uk-text-center 404 Not found
      p.uk-text-center この譜面は、削除されたか存在しません。
    include /_footer
