html
  head
    include /_head
    // link(rel="stylesheet", href="/score-new.css")
  body
    include /_header
    div.uk-container.uk-container-large
      p= sus
      p= yt
      p= note
    include /_footer
